div.link_selector {
  padding-left: 8px;
  /* background-color: lightgray; */
}
div.link_selector > div > div {
  padding-left: 1em;
}
div.link_selector > div > div > div > span {
  padding-left: 1em;
}
